pipeline/append_activity.json
{
	"name": "append_activity",
	"properties": {
		"activities": [
			{
				"name": "getdetails",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "person_details",
					"value": [
						{
							"person_name": "dinesh",
							"person_loc": "hyderabad"
						},
						{
							"person_name": "akshay",
							"person_loc": "pune"
						}
					]
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "getdetails",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('person_details')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "person_name",
								"value": {
									"value": "@item().person_name",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "p_loc",
								"value": {
									"value": "@item().person_loc",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Append variable1",
							"type": "AppendVariable",
							"dependsOn": [
								{
									"activity": "Set variable2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "name_list",
								"value": {
									"value": "@variables('person_name')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable3",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Append variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "message",
								"value": {
									"value": "@concat('this is ',variables('name_list'))",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"person_details": {
				"type": "Array"
			},
			"person_name": {
				"type": "String"
			},
			"name_list": {
				"type": "Array"
			},
			"message": {
				"type": "String"
			},
			"p_loc": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-04-21T07:20:04Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}